<h1>Events</h1>

<h2>Upcoming events</h2>
<ul>
  <% @events.upcoming.each do |event| %>
    <li><%= event.location %></li>
  <% end %>
</ul>

<h2>Past events</h2>
<ul>
  <% @events.past.each do |event| %>
    <li><%= event.location %></li>
  <% end %>
</ul>
