<h1>Event details</h1>

<h2>Attendees</h2>

<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.email %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= button_to 'Attend', event_attendings_path(event_id: @event.id), method: :post %>
<% end %>
